* {box-sizing: border-box;}
.home {
    background-image: url('./logo.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1.title{
    text-align: center;
    color: white;
}
p.title{
    text-align: center;
}

p.title.red-text{
    color: red;
}

.row{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-content: space-between;
    margin-top: 40%;
}

.row .column{
    margin-right: 40px;
    padding-left: 100px ;
}

button.login{
    background-color: rgb(25, 120, 197);
    height: 100px;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    font-size: medium;

}
button.signup{
    background-color: rgba(226, 16, 16, 0.856);
    height: 100px;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    font-size: medium;
    
}

.row{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-content: space-between;
    margin-top: 40%;
}

body{
    background-color: rgba(0, 0, 0, 0.932);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body .header{
    background-color: #f1f1f1;

}


.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

a.red-text{
    color: red;
}

table{
    margin-top: 20px;
}

table, th, td {
    border:1px solid white;
    border-collapse: collapse;
    color: #f1f1f1;
    
  }
  
td {
    border-radius: 10px
}
tr{
    height: 200px;
}
td{
    border-radius: 100px;
}